@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .map-button {
        @apply w-full py-2 px-4 bg-background hover:bg-background-hover focus:outline-none ease-in rounded;
    }
}